* {
    margin: 0;
}

.filha1 , .filha2, .filha3 {
    
    width: 300px;
    height: 300px;
    background: rgb(255, 5, 5);
    margin: 10px;
    position: static; /*Sempre permanece estático em um local da página*/
}

.filha2 {
    /*float: left;*/
    background: greenyellow;
    position: fixed; /*Mesmo comportamento de absolute
    Porém ele fica fixo com o rolamento da página*/
    right: 0;
    top: 50%;
    z-index: 1;
}

.filha1 {
    position: static; /*O elemento sai do lugar mas ele se comporta como se estivesse no mesmo -> se houvesse alguma barreira*/
    /*position: absolute; O elemento sai do lugar de origem porém ele não se comporta como se estivesse no mesmo lugar -> sobrepõe camadas*/
    /*top: 50px; /*Posicionamento em relação ao topo da página*/
    /*left: 50px; /*Poscionamento em relação ao lado esquerdo da página*/
   /* bottom: 0px;
    right: 0px; */

    /*Posso colocar medidas negativas*/


    /*Posicionando um elemento no centro da página*/
    /*postion: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px; Pega metade do comprimento de bloco
    margin-left: -150px; Pega metade do comprimento de bloco*/
    
}



/*Posso definir as camadas de diferentes elementos*/
/* Primeiro tenho que ter dois objetos em posição absoluta*/
/*Segundo tenho que definir o z-index de cada elemento, sendo 
o seu posicionamento em camadas. A elemento com mais index vai ser sobreposto
em relação ao outro*/


/*Se eu colocar um bloco e este bloco tiver position relative 
e colocar um elemento dentro dele, este elemento vai relativo ao bloco pai*/

.filha3 {
    position: relative;
    background: blue;
    font-size: 100px;
    left: 100px;
}
.outra {
    position: absolute;
    font-size: 50px;
    background: white;
    top: 50px;
    left: 50px;

}